.category {
    margin: 90px 100px -120px 0px; /* Top + Right + Bottom + Left */
    padding: 10px 0px 10px 10px;
    font-size: 30px;
    border: solid  1px black;
    background-color: rgba(0, 0, 0, 0.800);
}
.back{
    margin: 50px 0px 0px 10px;
    font-size: 30px;
}

.image {
    margin: 0px 0px 0px 265px;
    padding: 0px 0px 0px 0px;
    width: 300px;
    height: 200px;
    font-size: 30px;
    border: solid red 2px;
}
