.category {
    margin: 30vh 5vh -26.8vh 29vh; /* Top + Right + Bottom + Left */ /* old position (90px 100px -120px 0px;)*/
    padding: 0vh 0vh 0vh 0vh; /* 10px 0px 10px 0px;*/
    font-size: 30px;
    border: solid  1px black;
    /*background-color: rgba(0, 0, 0, 0.800);*/
}
.back{
    margin: 50px 0px 0px 10px;
    font-size: 30px;
}

.image {
    width: 10em;
    height: 10em;
    border: solid red 2px;
}
