.main{
    font-family: Arial, sans-serif;
    /*margin: 0;
    padding: 0;*/

}

.header {
    background-image: url("/background.jpg");
    padding: 20px 0px 0px 0px;
    color: #fff; /* Color for the "Taste Of Japan */
    text-align: center; /* Centered for the "Taste Of Japan */
    border: solid red 3px;  
    z-index: 1000;
    
    
}    

.nav {
    /*display: block;*/ /* no need == extra code*/
    height: 50px;
    bottom: 0; /* Align to the bottom */
    left: 0;
    text-align: left;
    
    
    background-color: rgba(0, 0, 0, 0.400) ;

}



.ul {
    list-style-type: none;
    margin: 0;   
    /*margin-bottom: 368px;*/
    height: 123px;
    
    padding: 0;
    /*border: solid red 2px;*/ /* extra code 1 */
    
    
}

.li {
    display: inline-flex;
    margin: 15px 30px 0px 50px;
    text-decoration: none;
    color: #fff;
    

}

  


