.main{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("/background.jpg");
    padding: 20px;
    text-align: center;
    border: solid red 1px;  
    z-index: 1000;
}    


.h1{
    color:#fff;
    font-size: 80px;
}

/*
header {
    background-color: #F8F8F8;
    padding: 20px;
    text-align: center;
    border: solid red 1px;
    z-index: 1000;
}
*/
.nav {
    display: block;
    bottom: 0; /* Align to the bottom */
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400) ;

}

.ul {
    
    list-style-type: none;
    margin: 0;
    
    /*margin-bottom: 368px;*/
    height: 123px;
    
    padding: 0;
    border: solid red 2px;
    
    
}

.li {
    display: inline;
    margin-right: 20px;
    
}

.a {
    
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    
}

