.main{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("/background.jpg");
    padding: 20px;
    text-align: center;
    border: solid red 1px;  
    z-index: 1000;
}    

.nav {
    display: block;
    height: 40px;
    bottom: 0; /* Align to the bottom */
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.400) ;

}

.ul {
    list-style-type: none;
    margin: 0;   
    /*margin-bottom: 368px;*/
    height: 123px;
    
    padding: 0;
    border: solid red 2px;
    
    
}

.li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    
}

  


