.image{
    /*display: inline-flex;
    flex-direction: column;
    align-items: center;*/
    width: 20em; 
    height: 25em;
    border: solid red 2px;
}
@media screen 
and (max-device-width: 1035px) {
    /* For laptop screen: */
    .image{
        width: 15em; 
        height: 25em;
        border: solid red 2px;
    }
}
@media screen 
and (max-device-width: 820px) {
    /* For laptop screen: */
    .image{
        width: 13em; 
        height: 25em;
        border: solid red 2px;
    }
}